<h1>Tasks#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<%= link_to('Back to List',{controller:'tasks',action:'index'})%>



<p><%=@task.name%></p>
<p><%=@task.position%></p>
<p><%=@task.completed? ? 'yes':'no'%></p>

<p><%=@task.description%></p>
<p><%=@task.name%></p>